<h2>募集一覧</h2>

<% @posts.each do |post| %>
  <div class="posts">
    <div class="more">
      <ul class="more_list">
        <li>
            <%= link_to '詳細', post_path(post.id), method: :get %>
          </li>
        <li>
          <%= link_to '編集', edit_post_path(post.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', post_path(post.id), method: :delete %>
        </li>
      </ul>
    <div class="post-date">
      <%= post.game_day %>
    </div>
    <div class="post-time">
      <%= post.game_time.name %>
    </div>
    <div class="post-detail">
      <%= post.detail %>
    </div>
  </div>
<% end %>